*{
    margin:0px;
    padding:0px;
    box-sizing: 0px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.cabecalhopreto{
    position: relative;
    background-color: black;
    height: 40px;
}
.cupom{
    position: relative;
    color: white;
    font-size: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    top:15px

    
}
.cabecalhobranco{
    position: relative;
    background-color: rgb(247, 240, 240);
    height: 60px;
}
.logo {
    position: absolute;
    width:5%;
    height:120%;
    left:50px;
}
.lupa{
    position:relative;
    width: 1%;
    height:25%;
    top:22px;
    left:30px;
}
.pesquisa{
    position: relative;
    left:650px;
    height: 30px;
    width: 440px;
    top:20px;
    
}
.cep{
    position:absolute;
    width: 1.5%;
    height:50%;
    left:1140px;
    top:22px;
}
.cep1{
    position:absolute;
    font-size:12px;
    left:1170px;
    top:20px;
    padding: 3px;
    background-color:rgb(207, 200, 200);
}
.cep2{
    color:black;
    text-decoration: none;
}
.cep2:hover{
    color:red
}
.brasil{
    position: absolute;
    width: 2%;
    height: 30%;
    left:1300px;
    top:25px;

}
.pesquisa1{
    position: relative;
    left:490px;
    top:20px;
    text-decoration: none;
    color:gray;
}
.menu{
    position: relative;
    background-color: white;
    height:40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.link1{
    margin: 10px;
    padding: 5px;
    
    color: black;
    text-decoration: none;

}
.link1:hover{
    background-color: rgb(204, 193, 193);
    color:rgb(245, 9, 9)


}
.publicidade{
    position: relative;
    background-color: rgb(247, 240, 240);
    height:80px;
    
}